# Inicializando el dataframe

In [14]:
import pandas as pd

data = "dataset/Pokemon.csv"

df = pd.read_csv(data)

#Total de registros leídos
len(df)

800

## Mostrando el encabezado del dataframe

In [15]:
df.head(n = 10) #n = 5 por defecto

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

## Cambiemos el indice por el nombre del pókemon

In [16]:
df.set_index("Name", inplace=True) #inplace = True para que no cree una copia del dataframe sino para que modifique el original
df.head()

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,318,45,49,49,65,65,45,1,False
Ivysaur,2,Grass,Poison,405,60,62,63,80,80,60,1,False
Venusaur,3,Grass,Poison,525,80,82,83,100,100,80,1,False
VenusaurMega Venusaur,3,Grass,Poison,625,80,100,123,122,120,80,1,False
Charmander,4,Fire,NaN,309,39,52,43,60,50,65,1,False

## Miremos la cantidad de filas y columnas del dataframe

In [17]:
df.shape #retorna (filas, columnas)

(800, 12)

## Tipos de datos por columna en el dataframe

In [18]:
df.dtypes

#              int64
Type 1        object
Type 2        object
Total          int64
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

## Visualización nombres de las columnas

In [19]:
df.columns

Index(['#', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

## Convertir valores del dataframe en un numpy array

In [20]:
df.values

array([[1, 'Grass', 'Poison', ..., 45, 1, False],
       [2, 'Grass', 'Poison', ..., 60, 1, False],
       [3, 'Grass', 'Poison', ..., 80, 1, False],
       ...,
       [720, 'Psychic', 'Ghost', ..., 70, 6, True],
       [720, 'Psychic', 'Dark', ..., 80, 6, True],
       [721, 'Fire', 'Water', ..., 70, 6, True]],
      shape=(800, 12), dtype=object)

## Visualizar la cola del dataframe

In [21]:
df.tail(n = 8) #por defecto n=5

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,,
Xerneas,716,Fairy,NaN,680,126,131,95,131,98,99,6,True
Yveltal,717,Dark,Flying,680,126,131,95,131,98,99,6,True
Zygarde50% Forme,718,Dragon,Ground,600,108,100,121,81,95,95,6,True
Diancie,719,Rock,Fairy,600,50,100,150,100,150,50,6,True
DiancieMega Diancie,719,Rock,Fairy,700,50,160,110,160,110,110,6,True
HoopaHoopa Confined,720,Psychic,Ghost,600,80,110,60,150,130,70,6,True
HoopaHoopa Unbound,720,Psychic,Dark,680,80,160,60,170,130,80,6,True
Volcanion,721,Fire,Water,600,80,110,120,130,90,70,6,True

## Visualizar algunos registros de una columna especifica

In [23]:
df["Generation"].head()

Name
Bulbasaur                1
Ivysaur                  1
Venusaur                 1
VenusaurMega Venusaur    1
Charmander               1
Name: Generation, dtype: int64

## Visualizar algunos registros de varias columnas

In [25]:
df[["HP", "Attack", "Legendary"]].tail(8)

                      HP  Attack  Legendary
Name
Xerneas              126     131       True
Yveltal              126     131       True
Zygarde50% Forme     108     100       True
Diancie               50     100       True
DiancieMega Diancie   50     160       True
HoopaHoopa Confined   80     110       True
HoopaHoopa Unbound    80     160       True
Volcanion             80     110       True